{% extends "base.html" %}
{% load static %}
{% load daguerre %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <body>
      <div class="container">
        <div class="card">
          <div class="container text-justify">
          <div class="text-center terms-and-conditions-h2">
            <h2><strong>Terms and Conditions</strong></h2>
          </div>
          <div class="terms-and-conditions-h3">
            <h3>UPDATE: RE – Coronavirus (COVID-19)</h3>
          </div>
          <div class="terms-and-conditions text-justify">
            <p>Due to the current environmental and economic factors regarding the impact of the COVID-19 disease currently affecting most of the world, {{site_name|capfirst}} must make clear that any delays outside of our control due to this are not eligible for a refund. Along with our suppliers and couriers, we are endeavouring to (wherever possible) keep to agreed delivery timescales and to continue to deliver however due to the unprecedented impact of COVID-19, some additional delays may be unavoidable. This could be stock being imported and due into our or our suppliers warehouses’ or end point delivery to our customers. If this does happen, wherever reasonably possible, {{site_name|capfirst}} will attempt to notify our customers as early as possible.
            If the courier/{{site_name|capfirst}}’s supplier network does break down/close or temporarily pause all deliveries and {{site_name|capfirst}} are unable to deliver your item to you at this current time as a result of the Coronavirus epidemic, {{site_name|capfirst}} will pause your payment plan until such time where it is possible to deliver your item. {{site_name|capfirst}} will then take a regular payment to restart your payment plan before delivering the item to yourself.
            <br><br>
            These are unprecedented times and therefore {{site_name|capfirst}} is taking unprecedented steps in order to help our customers as much as possible.
            {{site_name|capfirst}} Limited t/a {{site_name|capfirst}} is registered in {{site_country|capfirst}}. Company Number {{site_phone}}. Retail Address: {{site_name|capfirst}}, {{site_address|capfirst}}. Credit is provided by {{site_name|capfirst}} Limited t/a {{site_name|capfirst}}. Credit is provided subject to age and status.
            Please Note The Minimum Order Value for Interest Free Weekly/Fortnightly/Monthly Instalments is {{site_minimum_buy}} – If your order is under this value, then your order will not be accepted for the instalment payment option by the finance team. You are able to take out multiple items at the same time to meet the minimum order value.</p>
          <div class="sub-header-h4">
            <h4>Credit Search</h4>
          </div>
          <p>As of 28/01/19, {{site_name|capfirst}} Limited t/a {{site_name|capfirst}} does not perform a Credit Check on applications.</p>
          <div class="sub-header-h4">
            <h4>How To Cancel</h4>
          </div>
          <p>Any order cancellation requests <strong>MUST</strong> be sent through to <b>cancel@{{site_name}}.co.{{site_country_code}}</b> – This is the only method to cancel your order. You cannot cancel your order via any other means including over the phone, live chat or inbox.</p>
          <div class="sub-header-h4">
            <h4>100% Acceptance Rate</h4>
          </div>
          <p>As of 28/01/19, {{site_name|capfirst}} Limited t/a {{site_name|capfirst}} will have a 100% acceptance rate, subject to the following Terms & Conditions,</p>
          <div class="container">
            <ol>
              <li>Minimum age of 18 Years old.</li>
              <li>UK Bank account with Debit Card in applicant’s name which income is paid into.</li>
              <li>Can demonstrate (through affordability check) that applicants have expendable income to support re-payments.</li>
              <li>Relevant ID to support application – This includes bank statements which demonstrate income coming in as per affordability check conducted as part of the application and repayments from {{site_name|capfirst}} Limited t/a {{site_name|capfirst}} . Also relevant Photo ID is required (Valid UK Driving License or Passport). If no photo ID is available, a birth certificate and utility bill from address where item is being delivered can be accepted.</li>
              <li>Although we do cover Mainland UK (Excl. Ireland and & Outlying Islands), our 100% Acceptance criteria is based on a 95 mile radius of M5 5HD. This is due to geographical restrictions affecting delivery in certain areas.</li>
              <li>You cannot be under influence of drugs or alcohol at the point of completing the application, and must understand the contract you are agreeing to as by completing the application, you are entering into a legally binding contract.</li>
            </ol>
          </div>
          <div class="sub-header-h4">
            <h4>Information To Supply On Applications</h4></div>
          </div>
          <p>No applications will be authorised for persons under the age of 18.<br>
            Full name and address, date of birth and income. Applicants must confirm that agreeing to the purchase agreement, that there will be no reason why there should be any missed payments or any change in their financial situation within the next 3 months.</p>
            <div class="sub-header-h4">
              <h4>Change of Address</h4>
            </div>
              <p>To change the delivery address, {{site_name|capfirst}} must be notified by telephone 7 days before the delivery due date to ensure that the item is delivered to the correct address. If {{site_name|capfirst}} is notified less than 7 days to the due delivery date as per the purchase agreement, an additional delivery charge may apply. You will also need to provide proof of address for the new delivery address.</p>
              <div class="sub-header-h4">
                <h4>Documents to Provide For Inspection on Delivery</h4>
              </div>
              <p>Please note that if the following documents are not provided on delivery then the item will not be left with the customer. Proof of I.D of I.D check on delivery. Driver Licence or Passport. Other forms of I.D might be accepted. In some instances, where it is not possible to take a copy of these at the door, we may request these prior to the item being delivered.</p>
              <div class="sub-header-h4">
                <h4>Delivery</h4>
              </div>
              <p>It is strongly recommended that all customers check their delivery item for damage. Once the item has been signed and the item has been left with the customer there can not be any claim for damage brought forward. Any form of damage must be brought to our attention at the point of delivery only. {{site_name|capfirst}} will only deliver an item if the person whom placed the order is present at the property.</p><br>
              <p>{{site_name|capfirst}} Limited t/a {{site_name|capfirst}} do charge a delivery fee on all items offered except when there is a discount. The amount in which we charge for the delivery will vary depending on the type, size and weight of the item. You will be advised on the costs of the delivery prior to placing your order and cost can be calculated on adding your item to the cart. In some very rare instances outside of our control, your specified delivery date could change. By Purchasing through {{site_name|capfirst}}, you accept that this is a possibility.</p>
              <div class="sub-header-h4">
                <h4>Cooling Off Period</h4>
              </div>
              <p>Any customer has 3 days from when the original order is placed to cancel the order and receive a full refund of any monies paid so far. After 3 days and between 7 days, you can cancel the order and receive a refund however it will be minus the delivery fee. The delivery fee is based on having the item collected and delivered into the depot at {{site_name|capfirst}} and not necessarily based on delivering the item to the customers property. After 7 days from when the order is placed, if you do decide to cancel you will not receive any refund. If you change your order, these terms will apply from when the original order is placed.</p>
              <div class="sub-header-h4">
                <h4>Retention of title clause</h4>
              </div>
              <p>The ownership of all goods sold will remain with {{site_name|capfirst}} Limited t/a {{site_name|capfirst}} until full payment for the goods has been received. The buyer agrees to allow the seller access to the buyer’s premises to collect the goods.  Goods will be collected and sold to repay the outstanding amount on the invoice should the buyer’s account fall into arrears of more than 21 days. Should the amount in money received from the sales on the goods exceed the amount of arrears, then the difference will be returned to the buyer within 14 days. Where the sale of the goods does not cover the amount of arrears on the customer’s account then the customer will remain liable for the arrears on the account.</p>
              <div class="sub-header-h4">
                <h4>Warranty Entitlement</h4>
              </div>
              <p>It is recommended that all customers have contents insurance for their property as the items purchased from {{site_name|capfirst}} Limited t/a {{site_name|capfirst}} DO NOT come with any form of damage insurance cover.

              All items sold will come with a manufactures or distributors warranty. The length of time the warranty is valid for will change with different manufactures and distributors and depending on whether the item is new, graded or refurbished. It is recommended to read and familiarise yourself with each item warranty as you might be required to register your item to validate your warranty. {{site_name|capfirst}} Limited t/a {{site_name|capfirst}} does not directly supply any form of warranty on goods sold. It is agreed that repayments will not be withheld or paid short for items that develop a fault.
              <br><br>
              The purchase agreement for the item of service provided from {{site_name|capfirst}} Limited t/a {{site_name|capfirst}} comes with out fees or charges. This means that if you were to pay the balance in one full payment or spread the costs up to 12 weeks, making to up 12 payments you would be charged the same amount. {{site_name|capfirst}} Limited t/a {{site_name|capfirst}} will not change purchase agreements in any situation to increase the length of time the payments are to be made or the number of payments to be made. </p>
              <div class="sub-header-h4">
                <h4>Returning your Item</h4>
              </div>
              <ol>
                <li>{{site_name|capfirst}} Limited t/a {{site_name|capfirst}} must be notified within 14 days of the customer receiving the item that they would like to return the item. The customer will be given a further 14 days from notifying {{site_name|capfirst}} Limited t/a {{site_name|capfirst}} to return the item. The item must be returned to us unused, in its original undamaged packaging and in a saleable condition.</li>
                <li>It is the customers responsibility to arrange suitable postage and packaging to return the item back to {{site_name|capfirst}} at the following address between the hours of 8am to 4pm Monday to Friday. Postal address: {{site_address|capfirst}}. {{site_name|capfirst}} does not cover the cost of any returns.</li>
              </ol>
               <p>hello world</p>
              <div class="sub-header-h4">
                <h4>Assignable Contract</h4>
              </div>
              <p>{{site_name|capfirst}} Limited t/a {{site_name|capfirst}} reserves the right the assign the purchase agreement for the item sold to another person or company. Any money owed to {{site_name|capfirst}} Limited t/a {{site_name|capfirst}} will be transferred with the purchase agreement.</p>
              <div class="sub-header-h4">
                <h4>Brand New Items</h4>
              </div>
              <p>all of our items are brand new. On some occasion, items are opened by our warehousing team and inspected before being resealed and sent out. The items are still brand new and you understand by purchasing through {{site_name|capfirst}} that this could potentially happen to an item that you have ordered. This is not a valid reason for any item to be returned as the item is still brand new and therefore in the described condition.</p>
              <div class="sub-header-h4">
                <h4>Bank Holidays</h4>
              </div>
              <p>Any payments scheduled for Bank Holidays will be taken the nearest working day before. Should you have any questions about this or want this confirmed, please feel free to give us a call.</p>
              <div class="terms-and-conditions-h3">
                <h3>Complaints Procedure</h3>
              </div>
              <div class="terms-and-conditions text-justify">
                <p>In the event that we fail in meeting our high standards of customer service and you wish to make a formal complaint, this must be made in writing to the following:<br></p>
                <br>
                <p>FAO: The Director</p>
                <p>{{site_name|capfirst}} Limited t/a {{site_name|capfirst}}</p>
                <p>{{site_address}}</p>
              </div>
              <div class="terms-and-conditions-h3">
                <h3>Data Protection Act</h3>
              </div>
              <div class="terms-and-conditions text-justify">
                <p>We are committed to protecting your privacy. We will only use the information that we collect about you lawfully (in accordance with the Data Protection Act 1998).</p>
                </div>
          </div>
        </div>
      </div>
    </body>
{% endblock %}
